body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.jumbotron {
    background-color: none;
}

.title {
    font-size: 64px;
    color: #587fc2;
}

.txtUpsideDown {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    /* IE6,IE7 */
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    /* IE8 */
    -moz-transform: rotate(-180deg);
    /* FF3.5+ */
    -o-transform: rotate(-180deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(-180deg);
    /* Safari 3.1+, Chrome */
    position: absolute;
    width: 328px;
    margin-left: -164px;
}

.textBox {
    margin-top: 423px;
    text-align: center;
    width: 328px;
    margin-left: 358px;
    height: 313px;
}