<!DOCTYPE html>

<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Sign In Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>



    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js" type="text/javascript"></script>
    <script src="/javascripts/controller.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCymnnPfscnllA0rEijIUs5S1VxBlDXsuI",
            authDomain: "creativeproject6-941c7.firebaseapp.com",
            databaseURL: "https://creativeproject6-941c7.firebaseio.com",
            storageBucket: "creativeproject6-941c7.appspot.com",
            messagingSenderId: "397881917003"
        };
        firebase.initializeApp(config);
    </script>

    <script>
    </script>

</head>


<body ng-app="authApp" ng-controller="authController" background="/images/snowflakeBackground.png">
    <nav class="navbar navbar-default" style="">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Christmas Card Maker</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="login.html">Home</a></li>
                <li class="active" ng-if="user"><a href="createCard.html">Create Card</a></li>
                <li ng-if="user">
                    <a href="showCard.html">Show Card</a>
                </li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="user"><a>Welcome {{user.user.displayName}}</a></li>
                <li ng-if="!user"><a style="cursor: pointer" ng-click="SignIn()">Sign In</a></li>
                <li ng-if="user"><a style="cursor: pointer" ng-click="SignOut()">Sign Out</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" style="background-color: white; height: 900px; width: 716px;border: grey solid 2px;">
        <div style="width: 1px; border: dashed 1px grey; height: 900px; margin-left: 343px; margin-top: -2px"></div>
        <div style="height: 1px; border: dashed 1px grey; width: 716px; margin-top: -448px; margin-left: -16px;"></div>
        <img style="height: 450px; width: 358px; margin-left: -15px; margin-top: -473px;" src="images/cat1.jpg">

    </div>

</body>