<!DOCTYPE html>

<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Sign In Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script src="/javascripts/controller.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCymnnPfscnllA0rEijIUs5S1VxBlDXsuI",
            authDomain: "creativeproject6-941c7.firebaseapp.com",
            databaseURL: "https://creativeproject6-941c7.firebaseio.com",
            storageBucket: "creativeproject6-941c7.appspot.com",
            messagingSenderId: "397881917003"
        };
        firebase.initializeApp(config);
    </script>

    <script>
        // function toggleSignIn() {
        //     if (!firebase.auth().currentUser) {
        //         var provider = new firebase.auth.GoogleAuthProvider(); // creates provider
        //         firebase.auth().signInWithRedirect(provider);

        //     } else {
        //         firebase.auth().signOut().then(function() { //sign out
        //             // Sign-out successful.
        //         }, function(error) {
        //             // An error happened.
        //         });
        //     }
        // }

        // function initApp() {
        //     firebase.auth().getRedirectResult().then(function(result) {
        //         if (result.credential) {
        //             // This gives you a Google Access Token. You can use it to access the Google API.
        //             var token = result.credential.accessToken;
        //             // ...
        //         }
        //         // The signed-in user info.
        //         var user = result.user;
        //     }).catch(function(error) {
        //         // Handle Errors here.
        //         var errorCode = error.code;
        //         var errorMessage = error.message;
        //         // The email of the user's account used.
        //         var email = error.email;
        //         // The firebase.auth.AuthCredential type that was used.
        //         var credential = error.credential;
        //         // ...
        //     });
        //     firebase.auth().onAuthStateChanged(function(user) {
        //         if (user) {
        //             var displayName = user.displayName; //pul in user information
        //         }
        //     });
        // }
        // window.onload = function() {
        //     initApp();
        // };
    </script>

</head>


<body ng-app="authApp" ng-controller="authController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Christmas Card Maker</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="login.html">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li ng-show="!user"><a style="cursor: pointer" ng-click="SignIn()">Sign In</a></li>
                <li ng-show="user"><a style="cursor: pointer" ng-click="SignOut()">Sign Out</a></li>
            </ul>
        </div>
    </nav>


</body>